@media (max-width: 392px) {
  .container {
    max-width: 314px;
    padding: 0;
  }

  /* ***HEADER*** */
  .header-nav {
    display: none;
  }

  /* ***HERO*** */
  .section-hero {
    padding-bottom: 30px;
  }
  .hero-container {
    display: block;
  }
  .hero-left {
    max-width: 95%;
    margin-bottom: 88px;
  }
  .hero-left-title {
    font-size: 30px;
    line-height: 40px;
  }
  .hero-left-link__text,
  .hero-left-link__icon {
    display: none;
  }
  .hero-left-link__text2 {
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    line-height: 51px;

    text-decoration-line: underline;
  }
  .hero-right-wrap {
    display: block;
    /* margin: 0 auto; */
    padding: 0 0 61% 0;
    max-width: 304px;
  }
  .hero-right-wrap iframe {
    top: 0;
  }

  /* ***POSTER*** */
  .section-poster {
    display: none;
  }

  /* ***Event*** */
  .section-ivent {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  .section-ivent-container {
    display: block;
    position: relative;
    padding-bottom: 98px;
  }
  .section-ivent-title {
    margin: 0;
    padding-top: 0;
    padding-bottom: 56px;
  }
  .section-ivent-title__text {
    margin: 0;
  }

  .section-ivent-text {
    display: none;
  }
  .section-ivent-title-btn {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0);
  }
  .section-ivent-btn {
    margin: 0;
    padding: 4px 16px;
    min-width: 270px;
  }
  .section-ivent-nav__list {
    row-gap: 0;
    margin: 0;
  }
  .section-ivent-nav__link {
    background: black;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);
    padding: 18px 0;
    grid-template-columns: max-content 1fr max-content;
    gap: 22px;
  }
  .section-ivent-nav__link:first-child {
    border-top: 0.5px solid rgba(255, 255, 255, 0.5);
  }
  .section-ivent-link-avatar {
    display: block;
    border-radius: 50%;
    width: 45px;
    height: 45px;
  }
  .section-ivent-link__text {
    font-size: 18px;
    line-height: 25px;
  }
  .section-ivent-link__right {
    color: #fe3c02;
  }
  /* ***Gallery*** */
  .section-gallery {
    padding-top: 80px;
    padding-bottom: 68px;
  }
  .section-gallery-content {
    display: block;
  }
  .section-gallery-title__text {
    margin: 0 0 18px 0;
  }
  .section-gallery-img {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    padding-top: 85px;
  }
  .section-gallery-img__text {
    transform: rotate(0deg);
    top: 0;
    left: 0;
    line-height: 24px;
    margin: 0;
    overflow: visible;
  }

  /* ***FOOTER*** */
  .footer {
    padding-top: 50px;
    padding-bottom: 62px;
  }
  .footer-top {
    flex-direction: column;
    margin-left: 5px;
    margin-right: 5px;
  }
  .footer-top-btn {
    width: 100%;
  }
  .footer-bootom {
    flex-direction: column;
  }
  .footer-bootom__copyrights {
    text-align: center;
    margin-right: 0;
  }
  .footer-bootom-list {
    display: block;
    padding: 0;
  }
  .footer-bootom-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-bootom-item:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 34px;
  }
}
