* {
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}
img {
  display: block;
  max-width: 100%;
}
.link {
  text-decoration: none;
}
.lists {
  list-style-type: none;
}
.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

/* HEADER */
.header {
  background-color: #000;
}
.header-content {
  display: grid;
  grid-template-columns: minmax(170px, 400px) minmax(20px, 56px) 1fr;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 10px;
}
.header-logo__link {
  justify-self: start;
  transform: scale(1);
  transition: transform 0.35s;
}
.header-logo__link:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.header-btn {
  width: 56px;
  height: 56px;
  background-color: #fff;
  border-radius: 50%;
  padding: 24px 18px 20px;
  position: relative;
  z-index: 5;
  transition: 0.35s;
}
.header-btn:hover {
  background-color: #000;
  outline: 2px solid #fff;
}
.header-btn:hover .header-btn__pic {
  background: #fff;
}
.header-btn__pic {
  width: 20px;
  height: 2px;
  background-color: #000;
  transition: 0.35s;
}
.header-btn-pic__wide {
  margin-bottom: 8px;
}
.header-nav {
  grid-template-columns: 3/4;
  justify-self: right;
}
.header-nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
  position: relative;
  z-index: 5;
}
.header-nav__item:not(:last-child) {
  margin-right: 44px;
}
.header-nav__link {
  color: #fff;

  font-weight: 400;
  text-decoration: none;
  font-size: 16px;
  line-height: 28px;
  transition: font-weight 0.7s;
  position: relative;
}
.header-nav__link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  right: 0;
  bottom: 0;
  background-color: #fff;
  transition: width 0.7s;
  transform-origin: right;
}
.header-nav__link:hover {
  font-weight: 700;
}
.header-nav__link:hover::after {
  width: 100%;
  transform-origin: left;
}

/* HERO */

.section-hero {
  background-color: #000;
  padding-top: 22px;
}
.hero-container {
  display: grid;
  grid-template-columns: 37% 63%;
}
.hero-left {
  max-width: 90%;
}
.hero-left-title {
  font-weight: 800;
  font-size: 40px;
  line-height: 51px;
  color: #fff;
}
.hero-left-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.7);
}
.hero-left-action__link {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 51px;
  text-transform: uppercase;
  text-align: justify;

  color: #fe3c02;
  transition: 0.35s;
  position: relative;
  z-index: 2;
}
.hero-left-action__link::before {
  content: "";
  width: 10%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -4%;
  z-index: -1;
  opacity: 0;
  background-color: #cdcdcd;
  transition: width 0.7s, opacity 0.35s;
}
.hero-left-action__link:hover::before {
  width: 110%;
  opacity: 1;
}

.hero-left-link__text {
  display: inline-block;
  padding-right: 30px;
}
.hero-left-link__icon {
  display: inline-block;
  width: 37px;
  color: #fe3c02;
}
.hero-left-link__icon svg {
  position: absolute;
  top: 25%;
}

.hero-right {
}
.hero-right-wrap {
  position: relative;
  padding: 0 0 70% 0;
}
.hero-right-wrap iframe {
  object-fit: cover;
  position: absolute;
  top: -75px;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
}

/* POSTER */
.section-poster {
  padding-top: 102px;
}
.section-poster-title {
  overflow: hidden;
  max-width: 30%;
}
.section-title__text {
  font-weight: 800;
  font-size: 28px;
  line-height: 38px;

  position: relative;
}
.section-title__text::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 60px;
  height: 40px;
  z-index: -1;
}
.section-poster-title__text {
  color: #000000;
  margin: 12px 0;
}
.section-poster-title__text::before {
  background-color: #cdcdcd;
}

.section-poster-list {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.section-poster-item {
  flex: 1 1 33.33%;
}
.section-poster-link {
  position: relative;
  color: #000;
}
.section-poster-link::before {
  content: "";
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #cdcdcd;
  transition: width 0.3s;
}
.section-poster-link:hover:before {
  width: 100%;
}
.section-poster-item:not(:last-child) {
  margin-right: 70px;
}
.section-poster-item__date {
  position: relative;
}
.section-poster-item__date p {
  position: absolute;
  transform: rotate(270deg);
  bottom: 4em;
  left: -6em;
  padding: 0;
}
.section-poster-item-img {
  position: relative;
  padding: 0 0 70% 0;
  overflow: hidden;
}
.section-poster-item-img__img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}

.section-poster-nav__revers {
  display: flex;
}
.section-poster-revers__box {
  padding: 28px;
}
.section-poster-revers__box:hover {
  background-color: #000;
}
.section-poster-revers__box svg {
  color: #000;
}
.section-poster-revers__box:hover svg {
  color: #fff;
}
.section-poster-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.section-poster-nav__wind {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
.section-poster-nav__link {
  display: block;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  border: 1px solid #000;
}
.section-poster-nav__item:not(:last-child) {
  margin-right: 10px;
}
.section-poster-nav__link:hover {
  background-color: #000;
}

/* IVENT */
.section-ivent {
  padding-top: 126px;
  padding-bottom: 146px;
  background-color: #000;
  position: relative;
}
.section-ivent-container {
  display: grid;
  grid-template-columns: minmax(200px, 330px) 1fr;
  gap: 10%;
}
.section-ivent-title {
  padding-top: 100px;
  margin-right: 40px;
}
.section-ivent-title__text {
  color: #fff;
  z-index: 1;
  margin: 0px 0px 28px 0px;
}
.section-ivent-title__text::before {
  background-color: #fe3c02;
}
.section-ivent-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.7);
  margin: 0;
}
.section-ivent-btn {
  display: block;
  margin-top: 68px;
  padding: 18px 58px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 51px;

  text-align: center;

  color: #000000;
  background-color: #fff;
}
.section-ivent-btn:hover {
  color: #fff;
  background-color: #000;
  outline: 2px solid #fff;
}
.section-ivent-nav__list {
  display: grid;
  max-width: 100%;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: minmax(500px, 770px);
  grid-auto-rows: 1fr;
  row-gap: 30px;
  padding: 0;
}
.section-ivent-nav__item {
  width: 100%;
}
.section-ivent-nav__item:not(:last-child) {
  justify-self: end;
}
.section-ivent-link__text {
  font-weight: 800;
  font-size: 40px;
  line-height: 51px;
  color: #fff;
  margin: 0;
}
.section-ivent-link__right {
  color: #fff;
  justify-self: end;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-ivent-nav__link {
  height: 100%;
  padding: 20px 52px 20px 55px;
  display: grid;
  grid-template-columns: 60% 40%;
  justify-content: center;
  align-content: center;
}

.section-ivent-nav__bgi1 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url(/img/ivent-the-best-city.jpg) no-repeat center/cover;
}
.section-ivent-nav__bgi1:hover {
  background: linear-gradient(
      0deg,
      rgba(254, 60, 2, 0.8),
      rgba(254, 60, 2, 0.8)
    ),
    url(/img/ivent-the-best-city.jpg) no-repeat center/cover;
}
.section-ivent-nav__bgi2 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url(/img/ivent-robert-plant.jpg) no-repeat center/cover;
}
.section-ivent-nav__bgi2:hover {
  background: linear-gradient(
      0deg,
      rgba(254, 60, 2, 0.8),
      rgba(254, 60, 2, 0.8)
    ),
    url(/img/ivent-robert-plant.jpg) no-repeat center/cover;
}
.section-ivent-nav__bgi3 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url(/img/ivent-moto-fest.jpg) no-repeat center/cover;
}
.section-ivent-nav__bgi3:hover {
  background: linear-gradient(
      0deg,
      rgba(254, 60, 2, 0.8),
      rgba(254, 60, 2, 0.8)
    ),
    url(/img/ivent-moto-fest.jpg) no-repeat center/cover;
}
.section-ivent-nav__bgi4 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url(/img/ivent-yuriy-antonov.jpg) no-repeat center/cover;
}
.section-ivent-nav__bgi4:hover {
  background: linear-gradient(
      0deg,
      rgba(254, 60, 2, 0.8),
      rgba(254, 60, 2, 0.8)
    ),
    url(/img/ivent-yuriy-antonov.jpg) no-repeat center/cover;
}
.section-ivent-nav__bgi5 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url(/img/ivent-backstreetB2.jpg) no-repeat center/cover;
}
.section-ivent-nav__bgi5:hover {
  background: linear-gradient(
      0deg,
      rgba(254, 60, 2, 0.8),
      rgba(254, 60, 2, 0.8)
    ),
    url(/img/ivent-backstreetB2.jpg) no-repeat center/cover;
}
.section-ivent-nav__bgi6 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url(/img/ivent-moto-fest.jpg) no-repeat center/cover;
}
.section-ivent-nav__bgi6:hover {
  background: linear-gradient(
      0deg,
      rgba(254, 60, 2, 0.8),
      rgba(254, 60, 2, 0.8)
    ),
    url(/img/ivent-moto-fest.jpg) no-repeat center/cover;
}
.section-ivent-nav__bgi7 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url(/img/ivent-one-republic.jpg) no-repeat center/cover;
}
.section-ivent-nav__bgi7:hover {
  background: linear-gradient(
      0deg,
      rgba(254, 60, 2, 0.8),
      rgba(254, 60, 2, 0.8)
    ),
    url(/img/ivent-one-republic.jpg) no-repeat center/cover;
}
.section-ivent-nav__bgi8 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url(/img/ivent-the-best-city.jpg) no-repeat center/cover;
}
.section-ivent-nav__bgi8:hover {
  background: linear-gradient(
      0deg,
      rgba(254, 60, 2, 0.8),
      rgba(254, 60, 2, 0.8)
    ),
    url(/img/ivent-the-best-city.jpg) no-repeat center/cover;
}

/* ***GALLERY*** */
.section-gallery {
  padding-top: 144px;
  padding-bottom: 112px;
}
.section-gallery-content {
  display: grid;
  grid-template-columns: 1fr max-content;
}
.section-gallery-title__text {
  color: #000;
  z-index: 1;
  margin: 0px 0px 28px 0px;
}
.section-gallery-title__text::before {
  background-color: #cdcdcd;
}
.section-gallery-img {
  padding-top: 90px;
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 270px));
  grid-template-rows: repeat (3, minmax(200px, 270px));
  gap: 30px;
  position: relative;
}
.section-gallery-img__text {
  position: absolute;
  top: 50%;
  left: -28%;
  transform: rotate(270deg);
  font-weight: 500;
  font-size: 16px;
  line-height: 51px;
}

/* ***FOOTER*** */
.footer {
  padding-top: 88px;
  padding-bottom: 86px;
  background-color: #000;
}
.footer-top {
  margin-bottom: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 35px;
}
.footer-top-btn {
  flex: 1 1 50%;
  display: block;
  color: #fff;
  border: 1px solid #fff;
  font-size: 16px;
  line-height: 51px;
  text-transform: uppercase;

  text-align: center;
  transition: 0.35s;
}
.footer-top-btn:hover {
  color: #000;
  background-color: #fff;
}
.footer-bootom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-bootom__copyrights {
  font-weight: 500;
  font-size: 16px;
  line-height: 51px;
  color: #ffffff;
  margin-right: 20px;
}
.footer-bootom-list {
  display: flex;
  justify-content: end;
  align-items: center;
}
.footer-bootom-item:not(:last-child) {
  margin-right: 44px;
}
.footer-bootom-link {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;

  text-align: right;

  color: #ffffff;
  transition: 0.35s;
  position: relative;
}
.footer-bootom-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  right: 0;
  bottom: 0;
  background-color: #fff;
  transition: width 0.7s;
  transform-origin: right;
}

.footer-bootom-link:hover::after {
  width: 100%;
  transform-origin: left;
}
