* {
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}
img {
  max-width: 100%;
}
.link {
  text-decoration: none;
}
.lists {
  list-style-type: none;
}
.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

/* HEADER */
.header {
  background-color: #000;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 10px;
}
.header-btn {
  background-color: #fff;
  border-radius: 50%;
  padding: 24px 18px 20px;
}
.header-btn__pic {
  width: 20px;
  height: 2px;
  background-color: #000;
}
.header-btn-pic__wide {
  margin-bottom: 8px;
}
.header-nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
  position: relative;
  z-index: 5;
}
.header-nav__item:not(:last-child) {
  margin-right: 44px;
}
.header-nav__link {
  color: #fff;

  font-weight: 400;
  text-decoration: none;
  font-size: 16px;
  line-height: 28px;
  transition: font-weight 0.7s;
  position: relative;
}
.header-nav__link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  right: 0;
  bottom: 0;
  background-color: #fff;
  transition: width 0.7s;
  transform-origin: right;
}
.header-nav__link:hover {
  font-weight: 700;
}
.header-nav__link:hover::after {
  width: 100%;
  transform-origin: left;
}

/* HERO */

.section-hero {
  background-color: #000;
  padding-bottom: 170px;
  padding-top: 76px;
}
.hero-container {
  display: grid;
  grid-template-columns: 37% 63%;
}
.hero-left {
  max-width: 436px;
}
.hero-left-title {
  font-weight: 800;
  font-size: 40px;
  line-height: 51px;
  color: #fff;
}
.hero-left-description {
  max-width: 368px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.7);
}
.hero-left-action__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 51px;
  text-transform: uppercase;
  text-align: center;

  color: #fe3c02;
}
.hero-left-link__text {
  padding-right: 30px;
}
.hero-right {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-right__img {
  position: absolute;
  width: 100%;
  height: 170%;
  background-image: url(/img/hero-bg-img.jpg);
  background-color: transparent;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-right-btn {
  border-radius: 50%;
  background-color: #fff;
  padding: 18px;
  rotate: 90deg;
}
